/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* space class */
.aia-space-bottom{
    margin-bottom: 115px !important;
}
.aia-space-top{
    margin-top: 115px !important;
}
/* check style */
.aia-check{
    background: #EDEBF8;
    color: #594AC4;
    font-size: 10px;
}
/* Our package  */
.package-section{
    margin-bottom: 180px;
}
.package-section h1{
    text-align: center;
    margin-bottom: 180px;
}
.our-packages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.packages{
    width: 260px;
    padding: 15px;
    margin-left: 15px;
}
.packages h2{
    font-size: 36px;
    color: #231D4F;
}
.packages h3{
    font-size: 28;
    color: #231D4F;
}
.packages p,.packages span{
    font-size: 15px;
    line-height: 30px;
    color: #848199;
}
.bg-packages{
    transform: scale(1.3);
    margin-left: 50px;
    font-size: 13px;
    border-radius: 26px;
    background-color: #3F87F5;
}
.bg-packages h2,.bg-packages h3,.bg-packages p,.bg-packages span{
    color: #fff;
}
.bg-packages i{
    background-color: #5192F5;
    color: #fff;
}
.choose-plan{
    display: block;
    padding: 10px 40px;
    text-align: center;
    color: #5794F6 !important;
    background: #FEF5FA;
    border-radius: 24px;
    font-size: 15px;
    text-decoration: none;
    margin-top: 20px;
}
.last-package{
    margin-left: 50px;
}
/* Frequently Asked Questions */
.asked-qus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.asked-width{
    width: 50%;
}
.asked-image img{
    margin-top: 0 !important;
}
/* footer */
.footer-part{
    background-color: #0B0D17;
    padding: 100px;
}
.footer-part p{
    color: #D9DBE1;
    font-size: 14px;
}
.footer-image{
    width: 150px;
}
.get-app h4{
    color: #D9DBE1;
}
/* Responsive */
@media only screen and (max-width: 800px){
    .our-packages{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .asked-qus{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .asked-width{
        width: 75%;
    }
    .asked-image img{
        margin-top: 3rem !important;
    }
}